{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<div class="container">
    <div class="flex items-center justify-center pt-5">
        <div class="bg-gray-800 p-8">
            <h1>Admin</h1>
            <div>
                <a class="button" href="{{ path('admin_customer_index') }}">Kunden</a>
                <a class="button" href="{{ path('admin_project_index') }}">Projekt</a>
                <a class="button" href="{{ path('admin_invoice_index') }}">Rechnung</a>
                <a class="button" href="{{ path('admin_time_entry_index') }}">Zeiten</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
