:root {
    --background-color: #2d2d28ff;
    --second-background-color: #000000ff;
    --third-background-color: #9169f5ff;
    --header-color: #9169f5ff;
    --text-color: #fae6cdff;
    --error-color: #e74c3c;
}